.category {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }

  .cardi {
    width: 220px;
    height: 220px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
  }

  .cardi:hover {
    -webkit-transform: translateY(-5px) scale(1.005) translateZ(0);
            transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
  }

  .cardi:hover .overlay {
    -webkit-transform: scale(4) translateZ(0);
            transform: scale(4) translateZ(0);
  }

  .cardi:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }

  .cardi:hover .circle:after {
    background: var(--bg-color-light);
  }

  .cardi:hover p {
    color: var(--text-color-hover);
  }

  .cardi:active {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px var(--box-shadow-color);
  }

  .cardi p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 20px;
    z-index: 1000;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }

  .circle i {
    z-index: 10000;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 15px;
    left: 50px;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
